# dependencies
/node_modules

# astro
/dist/
/.astro/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
bun-debug.log*

# env files
.env*
!.env.example

# typescript
*.tsbuildinfo

# ide
.idea/
.vscode/
